<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.0.4" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.4" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="G1ANT.Language" version="4.106.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.11" targetFramework="net452" />
  <package id="MailKit" version="2.1.2" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="MimeKit" version="2.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="Selenium.Support" version="4.9.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Selenium.WebDriver" version="4.9.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Selenium.WebDriver.ChromeDriver" version="104.0.5112.7900" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net452" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="WebDriverManager" version="2.17.1" targetFramework="net461" />
</packages>