<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="G1ANT.Language" version="4.101.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.11" targetFramework="net452" />
  <package id="MailKit" version="2.1.2" targetFramework="net452" />
  <package id="MimeKit" version="2.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.45.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.5" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net452" />
</packages>